<section id="landingcontainer">
    <section id="landingimage" class="shadow">
        <section class="noblur">
            <h1 class="white-text">Manage your library.</h1>
            <p class="white-text">All in one place.</p>
            <a href="/sign-up" class="red-button" id="landingimagebutton">Sign up Now!</a>
        </section>
    </section>
</section>
<section class="advert-container">
    <h1 class="fw-bold">We offer a library management service for free.</h1>
    <p>
        All in one application. Manage your library with our app today!
    </p>
    <section id="product-container" class="shadow">
        <h1>Our Free Plan</h1>
        <p>Gives you limited features. But powerful enough for your library</p>
        <p>Manage unlimited books.</p>
        <p>Create unlimited organizations</p>
        <a href="/sign-up" class="red-button" id="box-container">Sign up Now!</a>
    </section>
</section>
<section>
    <h1>Why should you use our product?</h1>
    <p>We are small which means we have the interest of our customers at heart.</p>

    <h1>Want to contact us?</h1>
    <p>Contact us at our email. secretivemoo@gmail.com</p>

    <p class="small-print">Thank you to the people at Rambutan Academy for making this possible</p>
</section>