<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Book Management Tool</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/images/bookicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" type="text/css" href="styles/nav.css">
    <link rel="stylesheet" type="text/css" href="styles/main.css">
    <link rel="stylesheet" type="text/css" href="styles/usercss.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;500&display=swap" rel="stylesheet">
  </head>
  <body>
    <header class="clearfix">
      <div class="nav">
        <a href="/" class="nav-logo">
          <img height="50" width="180" title="Book App Manager" src="/images/app-logo01.png">
        </a>
        <section class="align-center text-center ms-auto">
          <a href="/" class="nav-txt">Home</a>
          <a href="/about" class="nav-txt">About</a>
          <a href="/dashboard" class="nav-txt">Dashboard</a>
          <% if user_signed_in? %>
            <form method="post" action="sign-out" class="inline">
              <input type="hidden" name="extra_submit_param" value="extra_submit_value">
              <input type="submit" name="submit_param" value="Sign out" class="button">
            </form>
          <% else %>  
            <a href="/sign-up" class="button" class="button">Sign up</a>
            <a href="/sign-in" class="button" class="button">Sign in</a>
          <% end %>     
        </section>
      </div>
    </header>
    <main>
      <%= yield %>
    </main>
    <footer>
      <a href="/dashboard" class="copyright-link">Dashboard</a>
      <p class="small-print" id="copyright-statement">@Copyrights reserved by Book Management Corporation 2021</p>
    </footer>
  </body>
</html>