<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Book App for poor people</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="nav.css">
    <link rel="stylesheet" type="text/css" href="main.css">
  </head>
  <body>
    <header class="clearfix">
      <div class="nav">
        <a href="/" class="nav-txt">Home</a>
        <a href="/books" class="nav-txt">Books</a>
      </div>
    </header>
    <%= yield %>
    <footer>
    </footer>
  </body>
</html>