<h1><%= @organization.name %></h1>
<h2><%= @organization.description %></h2>

<p class="small-print">Owed by <%= User.find(@organization.user_id).full_name %>. Created at <%= @organization.created_at %>.</p>