<section class="gray-body">
  <section class="shadow" id="sign-up-container">
    <h1>Sign In</h1>
    <form action='/sign-in' method='post'>
        <label for='email' class='sign-up-label'>Email</label>
        <input type='email' name='email' /><br>

        <label for='password' class='sign-up-label'>Password</label>
        <input type='password' name='password' /><br>
        <input type='submit' value='Sign In' />
    </form>
  </section>
</section>