body {
    overflow-y: scroll;
    overflow-x: hidden;
    margin: 0;
}

#landingimage {
    background-image: linear-gradient(to bottom, rgba(76,88,102,0.4), rgba(76,88,102,0.4)),url("/images/librarybackgroundinside.png");
    background-repeat: no-repeat;
    width: 1000px;
    height: 600px;
    margin: 0;
    margin-left: 300px;
    display: flex;
    align-items: center;
}

#product-container {
    padding: 10px;
    height: 400px;
    width: 400px;
    border-radius: .25rem;
    background-color: white;
    word-wrap: break-word;
    margin-left: 650px;
}

#landingimagebutton {
    margin-left: 40px;
}

.white-text {
    color: white;
}

.small-print {
    font-size: 12px;
}

.text-center {
    text-align: center;
}

.noblur {
    filter: blur(0px);
    -webkit-filter: blur(0px);
}

.red-button {
    border-radius: .25rem;
    height: 100px;
    width: 200px;
    background-color: red;
    font-size: 20px;
    padding: 10px;
    color: white;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 500px;
}

#box-container {
    margin-left: 100px;
}

footer {
    width: 100%;
    height: 200px;
    background-color: #F8F8FF;
    padding: 10px;
}

.shadow {
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important;
}

.advert-container {
    background-color: lightcyan;
    width: 100%;
    margin: 0;
    padding: 10px;
}

.align-center {
    display: flex;
    align-items: center;
}

p {
    font-size: 20px;
    margin-left: 40px;
    font-weight: 10px !important;
    font-family: 'Poppins', sans-serif;
    color: black;
}

h1 {
    font-size: 30px;
    margin-left: 40px;
    font-weight: 500px !important;
    font-family: 'Poppins', sans-serif;
    color: black;
}

h2 {
    font-size: 25px;
    margin-left: 40px;
    font-weight: 500px !important;
    font-family: 'Poppins', sans-serif;
    color: black;
}

#landingcontainer {
    background-color: lightgray;
    height: 800px;
    width: 100%;
    display: flex;
    align-items: center;
}

.copyright-link {
    font-size: 17px;
    color: black;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    margin-left: 40px;
}

.copyright-link:hover {
    text-decoration: underline;
}

#copyright-statement {
    margin-left: 800px;
}