header {
    padding: 20px;
    position: sticky;
    margin: 0;
    background-color: white;
    border-bottom: 1px solid darkgrey;
}

.nav-txt {
    text-decoration: none;
    color: black;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    margin-left: 5px;
}

.nav-txt:hover {
    color: brown;
    text-decoration: underline;
}